.main {
	position: relative;
  margin: auto;
  display: block;
  margin-top: -4%;
  width: 500px;
  height: 420px;
  background: none;
}
.shadow-phone {
  position: absolute;
  top:20%;
  left: 25%;
  width:44%;
  height:103%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 3px;
  background: #F5F5F5;
  border-radius:30px;
}
.screen {
  position: absolute;
  top: 33%;
  left: 26.6%;
  width: 41.9%;
  height:76%;
  background: #696969;
  border-radius: 0%;
}
.button {
  position: absolute;
  width: 9%;
  height: 10%;
  top: 112%;
  left: 43.5%;
  border-radius: 50%;
  background: #696969;
}
.inner-button {
  position: absolute;
  width: 92%;
  height: 92%;
  top: 3.5%;
  left: 4.9%;
  border-radius: 50%;
  background: #F5F5F5;
}

.front-camera {
  position: absolute;
  width: 16%;
  height: 16%;
  top: -845%;
  left:-30%;
  border-radius: 50%;
  background: #696969;
}

.speaker-strip {
  position: absolute;
  width: 75%;
  height: 3%;
  top: -840%;
  left:9%;
  border-radius: 0%;
  background: #696969;
}
.speaker-small {
  position: absolute;
  width: 8%;
  height: 9%;
  top: -873%;
  left:40%;
  border-radius: 50%;
  background: #696969;
}